name: Test (Bee v2.7)

on:
    push:
        branches:
            - 'main'
    pull_request:
        branches:
            - '**'

jobs:
    test-v2_7:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 20.x

            - name: Install local dependencies
              run: npm install

            - name: Install global dependencies
              run: npm install --global @fairdatasociety/fdp-play mkbatch mksoc mkmanifest mkfeedmanifest

            - name: Build project
              run: npm run build

            - name: Clone fdp-play
              run: git clone https://github.com/fairDataSociety/fdp-play

            - name: Install fdp-play dependencies
              run: |
                  cd fdp-play && npm install
                  cd orchestrator && npm install

            - name: Build fdp-play images
              run: |
                  cd fdp-play/orchestrator
                  npm run build:env -- --build-base-bee --bee-repository=Cafe137/inbee4.git

            - name: Start fdp-play environment
              run: fdp-play start --detach --blockchain-image ethereum/client-go:release-1.13 --bee-version HEAD-commit

            - id: postage-batch
              name: Create postage batch
              run: |
                  mkbatch --amount 1000000000 --depth 18
                  sleep 120 # wait for batch to be usable

            - name: Upload hello.txt (bzz endpoint)
              run: |
                  curl -X POST "http://localhost:1633/bzz?name=hello.txt" \
                    -H "content-type: text/plain" \
                    -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                    --data "hello from hello.txt" \
                    --fail-with-body

            - id: create-manifest
              name: Generate hello.txt manifest
              run: mkmanifest --payload "hello from hello.txt" --content-type "text/plain" --filename "hello.txt"

            - id: v1-soc-bzz
              name: Generate v1 SOC (bzz)
              run: |
                  mksoc \
                    --payload "${{ steps.create-manifest.outputs.mkmanifest_result_payload }}" \
                    --feed-type v1

            - name: Upload v1 SOC (bzz)
              run: |
                  echo "${{ steps.v1-soc-bzz.outputs.mksoc_result_payload }}" | \
                    xxd -r -p | \
                      curl -X POST http://localhost:1633/soc/${{ steps.v1-soc-bzz.outputs.mksoc_result_owner }}/${{ steps.v1-soc-bzz.outputs.mksoc_result_feed }} \
                      -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                      --url-query "sig=${{ steps.v1-soc-bzz.outputs.mksoc_result_signature }}" \
                      --data-binary @- \
                      --fail-with-body

            - id: v1-feed-manifest
              name: Generate v1 feed manifest (bzz)
              run: |
                  mkfeedmanifest \
                    --owner "${{ steps.v1-soc-bzz.outputs.mksoc_result_owner }}" \
                    --topic "${{ steps.v1-soc-bzz.outputs.mksoc_result_topic }}"

            - name: Upload v1 feed manifest (bzz)
              run: |
                  curl -X POST http://localhost:1633/feeds/${{ steps.v1-soc-bzz.outputs.mksoc_result_owner }}/${{ steps.v1-soc-bzz.outputs.mksoc_result_topic }} \
                    -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                    --fail-with-body

            - name: Verify v1 SOC via bzz endpoint feed manifest (bzz)
              run: |
                  curl http://localhost:1633/bzz/${{ steps.v1-feed-manifest.outputs.mkfeedmanifest_result_address }}/ \
                    --fail-with-body

            - name: Verify v1 SOC via feeds endpoint raw data (bzz)
              run: |
                  curl http://localhost:1633/feeds/${{ steps.v1-soc-bzz.outputs.mksoc_result_owner }}/${{ steps.v1-soc-bzz.outputs.mksoc_result_topic }} \
                    --fail-with-body

            - id: v2-soc-bzz
              name: Generate v2 SOC (bzz)
              run: |
                  mksoc \
                    --payload "${{ steps.create-manifest.outputs.mkmanifest_result_payload }}" \
                    --feed-type v2

            - name: Upload v2 SOC (bzz)
              run: |
                  echo "${{ steps.v1-soc-bzz.outputs.mksoc_result_payload }}" | \
                    xxd -r -p | \
                      curl -X POST http://localhost:1633/soc/${{ steps.v2-soc-bzz.outputs.mksoc_result_owner }}/${{ steps.v2-soc-bzz.outputs.mksoc_result_feed }} \
                      -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                      --url-query "sig=${{ steps.v2-soc-bzz.outputs.mksoc_result_signature }}" \
                      --data-binary @- \
                      --fail-with-body

            - id: v2-feed-manifest
              name: Generate v2 feed manifest (bzz)
              run: |
                  mkfeedmanifest \
                    --owner "${{ steps.v2-soc-bzz.outputs.mksoc_result_owner }}" \
                    --topic "${{ steps.v2-soc-bzz.outputs.mksoc_result_topic }}"

            - name: Upload v2 feed manifest (bzz)
              run: |
                  curl -X POST http://localhost:1633/feeds/${{ steps.v2-soc-bzz.outputs.mksoc_result_owner }}/${{ steps.v2-soc-bzz.outputs.mksoc_result_topic }} \
                    -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                    --fail-with-body

            - name: Verify v2 SOC via bzz endpoint feed manifest (bzz)
              run: |
                  curl http://localhost:1633/bzz/${{ steps.v2-feed-manifest.outputs.mkfeedmanifest_result_address }}/ \
                    --fail-with-body

            - name: Verify v2 SOC via feeds endpoint raw data (bzz)
              run: |
                  curl http://localhost:1633/feeds/${{ steps.v2-soc-bzz.outputs.mksoc_result_owner }}/${{ steps.v2-soc-bzz.outputs.mksoc_result_topic }} \
                    --fail-with-body

            - name: Upload "hello world" (bytes endpoint)
              run: |
                  curl -X POST http://localhost:1633/bytes \
                    --data "hello world" \
                    -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                    --fail-with-body

            - id: v1-soc-simple
              name: Generate v1 SOC (simple payload)
              run: |
                  mksoc \
                    --payload "hello world" \
                    --feed-type v1

            - name: Upload v1 SOC (simple payload)
              run: |
                  echo "${{ steps.v1-soc-simple.outputs.mksoc_result_payload }}" | \
                    xxd -r -p | \
                      curl -X POST http://localhost:1633/soc/${{ steps.v1-soc-simple.outputs.mksoc_result_owner }}/${{ steps.v1-soc-simple.outputs.mksoc_result_feed }} \
                      -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                      --url-query "sig=${{ steps.v1-soc-simple.outputs.mksoc_result_signature }}" \
                      --data-binary @- \
                      --fail-with-body

            - name: Verify v1 SOC (simple payload)
              run: |
                  curl http://localhost:1633/feeds/${{ steps.v1-soc-simple.outputs.mksoc_result_owner }}/${{ steps.v1-soc-simple.outputs.mksoc_result_topic }} \
                    --fail-with-body

            - id: v2-soc-simple
              name: Generate v2 SOC (simple payload)
              run: |
                  mksoc \
                    --payload "hello world" \
                    --feed-type v2

            - name: Upload v2 SOC (simple payload)
              run: |
                  echo "${{ steps.v2-soc-simple.outputs.mksoc_result_payload }}" | \
                    xxd -r -p | \
                      curl -X POST http://localhost:1633/soc/${{ steps.v2-soc-simple.outputs.mksoc_result_owner }}/${{ steps.v2-soc-simple.outputs.mksoc_result_feed }} \
                      -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                      --url-query "sig=${{ steps.v2-soc-simple.outputs.mksoc_result_signature }}" \
                      --data-binary @- \
                      --fail-with-body

            - name: Verify v2 SOC (simple payload)
              run: |
                  curl http://localhost:1633/feeds/${{ steps.v2-soc-simple.outputs.mksoc_result_owner }}/${{ steps.v2-soc-simple.outputs.mksoc_result_topic }} \
                    --fail-with-body

            - name: Upload "This string is exactly 40 bytes in utf-8" payload (bytes endpoint)
              run: |
                  curl -X POST http://localhost:1633/bytes \
                    --data "This string is exactly 40 bytes in utf-8" \
                    -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                    --fail-with-body

            - id: v1-soc-edge
              name: Generate v1 SOC (edge-case payload)
              run: |
                  mksoc \
                    --payload "This string is exactly 40 bytes in utf-8" \
                    --feed-type v1

            - name: Upload v1 SOC (edge-case payload)
              run: |
                  echo "${{ steps.v1-soc-edge.outputs.mksoc_result_payload }}" | \
                    xxd -r -p | \
                      curl -X POST http://localhost:1633/soc/${{ steps.v1-soc-edge.outputs.mksoc_result_owner }}/${{ steps.v1-soc-edge.outputs.mksoc_result_feed }} \
                      -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                      --url-query "sig=${{ steps.v1-soc-edge.outputs.mksoc_result_signature }}" \
                      --data-binary @- \
                      --fail-with-body

            - name: Verify v1 SOC (edge-case payload)
              run: |
                  curl http://localhost:1633/feeds/${{ steps.v1-soc-edge.outputs.mksoc_result_owner }}/${{ steps.v1-soc-edge.outputs.mksoc_result_topic }} \
                    --fail-with-body

            - id: v2-soc-edge
              name: Generate v2 SOC (edge-case payload)
              run: |
                  mksoc \
                    --payload "This string is exactly 40 bytes in utf-8" \
                    --feed-type v2

            - name: Upload v2 SOC (edge-case payload)
              run: |
                  echo "${{ steps.v2-soc-edge.outputs.mksoc_result_payload }}" | \
                    xxd -r -p | \
                      curl -X POST http://localhost:1633/soc/${{ steps.v2-soc-edge.outputs.mksoc_result_owner }}/${{ steps.v2-soc-edge.outputs.mksoc_result_feed }} \
                      -H "swarm-postage-batch-id: ${{ steps.postage-batch.outputs.mkbatch_result_batch_id }}" \
                      --url-query "sig=${{ steps.v2-soc-edge.outputs.mksoc_result_signature }}" \
                      --data-binary @- \
                      --fail-with-body

            - name: Verify v2 SOC (edge-case payload)
              run: |
                  curl http://localhost:1633/feeds/${{ steps.v2-soc-edge.outputs.mksoc_result_owner }}/${{ steps.v2-soc-edge.outputs.mksoc_result_topic }} \
                    --fail-with-body
